html,body{
    margin: 0;

}
.body{
    background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                /* url(../images/tecnological.jpg) */
                url(https://media.istockphoto.com/id/1318284121/photo/young-programmer-testing-the-software.jpg?s=612x612&w=0&k=20&c=e4Kdydq0yu8PF-sBXU5g16udLnn_p5jS8eSyHDQ8BbI=)
                ;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar{
    position: absolute;
    background:transparent;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    margin: 0;
    display: flex;
    gap: 20px;
    padding: 0 1em;
}
.navBar img{
    width: 200px;
    height: 59px;
}
li{
    list-style: none;
    font-family: sans-serif;
}
li a:link:hover{
    text-decoration: underline;
    color: red;
}
li a:link{
    text-decoration: none;
    transition: 400ms;
}
li a:visited{
    color: white ;
}
li a:visited:hover{
    color: red;
}
.contents{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}
.contents h1{
    font-size: 70px;
    margin: 0;
}
.contents p{
    font-size: 60px;
    font-family: tahoma;
    margin: 0;
    font-weight: 700;
}
.contents button{
    padding: 1em;
    width: 200px;
    background-color: purple;
    outline: 0;
    border: none;
    border-radius: 10px;
    color: white ;
    font-size: 19px;
    cursor: pointer;
    transition: 500ms;
}
.contents button:hover{
    transform: scale(1.06);
    background:  hsl(0deg 26% 53%);

}